body{
    font-family: poppins;
}

header {
    padding: 0px 100px 0px 100px;
}

a {
    text-decoration: none;
}

.header_bloc{
    display: flex;
    justify-content: space-between;
}

.header_bar{
    display: flex;
    stroke-width: 1px;
    stroke: #808080;
}

#header_logo{
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header_logo_shop{
    color: #000000;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.header_connect{
    padding-top: 20px;
}

.header_connect_i{
    float: left;
}

.header_connect_text{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 40px;
    line-height: 25px;
    white-space: nowrap; 
}

.header_nav{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.header_producter{
    display: flex;
    padding: 10px 0px 10px 0px;
    width: 22%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #B7CE66;
}
.header_producter_logo{
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.header_producter_text {
    color: black;
    font-family: Poppins;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.searchbar {
    width: 50%;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.50);
}

.header_search_bar {
    color: #808080;
    font-family: Poppins;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.header_search_bar_button {
    padding-right: 30px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #808080;
    border: none;
    background: none;
}

.header_cart {
    display: flex;
    width: 15%;
    padding: 10px 0px 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #B7CE66;
}

.header_cart_logo {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.header_cart_text {
    color: #000;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header_menu {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0px 5px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.header_menu_list {
    color: #606060;
    font-family: Poppins;
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
